/* Main Hero Section Styles */
.hero-section {
    height: calc(100vh - 40px);
    width: 90%;
    background-color: #384cff;
    color: #fcfcfc;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
    padding: 10% 10% 0% 10%;
    display: flex;

}

/* Pulse Icon in Header */
.pulse-icon {
    width: 20px;
}

/* Hero Header Text */
.hero-header p {
    border: 1px solid white;
    border-radius: 30px;
    width: fit-content;
    padding: 12px;
    font-weight: 700;
}

/* Hero Title */
.hero-header h2 {
    font-size: 45px;
    font-weight: 700;
}

/* Key Features List */
.feature-list {
    display: flex;
    margin-top: 30px;
}
.feature-list ul li {
    list-style: none;
    padding-bottom: 10px;
}

/* Call-to-Action Button */
.cta-button {
    gap: 10px;
    padding: 15px 25px;
    border-radius: 25px;
    border: none;
    background-color: #f98600;
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.cta-button:hover {
    background-color: #f8af41;
    transform: scale(1.1);
}

/* Reviews Section */
.reviews-container {
    width: 50%;
    background-color: #fcfcfc1c;
    padding: 35px;
    position: absolute;
    bottom: 0;
    border-radius: 26px 26px 0 0;
    border: 0.5px solid rgba(255, 255, 255, 0.555);
}
.review-title {
    font-size: 20px;
}

/* Star Icons */
.review-icon {
    color: #00b67a;
}
.rating-stars {
    color: #f8af41;
}

/* Review Content */
.review-content {
    display: flex;
    align-items: center;
}
.review-image {
    margin-right: 10px;
}

/* Hero Image and Decorative Shapes */
.main-hero-image {
    width: 25%;
    position: absolute;
    bottom: 0;
    right: 10%;
    z-index: 9999;
}
.decorative-shape1 {
    width: 33%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}
.decorative-shape2 {
    width: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .decorative-shape1, .decorative-shape2 {
        display: none;
    }
    .hero-main-content {
        display: block;
        flex-wrap: wrap-reverse;
    }
}
