.MR-service-req-card-content {
  width: 275px;
}

.MR-service-req-card-content span {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.466);
}

.MR-service-req-card-content h4 {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.MR-service-req-card-content p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.466);
}
