.teamimg img{
border-radius: 15px 15px 0 0; 

}

.cardbackground{
    background-color:#18185e ;
    text-align: center;
    color: aliceblue;
    padding: 20px;
    font-size: 15px;
    border-radius: 0 15px 15px 15px;

}
.cardbackground h2{
    font-size: 15px;
    font-weight: 900;
}