.Homenavbar {
    width: 60%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    position: fixed;
    transform: translate(30%);
    top: 5px;
    z-index: 9999;
    padding: 0 25px;
    box-shadow: 0 10px #c3c8ff;
    border-radius: 40px;
    transition: all 0.3s ease;
}

.logo img{
    width: 80%;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links ul {
    display: flex;
    align-items: center;
}

.nav-links ul li {
    font-size: 15px;
    list-style: none;
    padding: 15px;
    cursor: pointer;
    transition: all 0.9s ease-in-out;
}

.nav-links ul li:hover {
    background-color: #384cff98;
    padding: 10px;
    border-radius: 25px;
}

.Homenavbar-icon {
    display: flex;
    align-items: center;
}

.Homenavbar-icon .basket {
    padding-left: 20px;
    color: #384bff;
}

.button-wrapper button {
    display: flex;
    gap: 10px;
    padding: 15px 20px;
    border-radius: 25px;
    border: none;
    background-color: #384bff;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-wrapper button:hover {
    background-color: #384cff98;
}

.toggle-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #384bff;
}


@media (max-width: 1370px) {
    .Homenavbar {
        width: 70%;
        transform: translate(20%);

    }

.nav-links ul li {
    font-size: 13px;
    padding: 6px;
}
.Homenavbar-icon .basket {
    padding-left: 10px;
}
.button-wrapper button {
    padding: 15px 10px;
    font-size: 10px;
} 
}

@media (max-width: 1024px) {
    .Homenavbar {
        width: 80%;
        transform: translate(12%);
    }

    .nav-links ul li {
        padding: 8px;
    }

}

@media (max-width: 768px) {
    .nav-links {
        position: fixed;
        top: 90px;
        left: 0;
        width: 100%;
        height: calc(100vh - 80px);
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(-150%);
        transition: transform 0.9s ease;
        z-index: 999;
        border-radius: 30px;
    }

    .nav-links.open {
        transform: translateX(0);
    }

    .nav-links ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-links ul li {
        font-size: 18px;
        padding: 10px 0;
    }

    .button-wrapper {
        display: none;
    }

    .toggle-icon {
        display: block;
    }

    .Homenavbar-icon {
        display: none;
    }
}

@media (max-width: 480px) {
    .nav-links {
        position: fixed;
        top: 90px;
        left: 0;
        width: 100%;
        height: calc(100vh - 80px);
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(-150%);
        transition: transform 0.9s ease;
        z-index: 999;
        border-radius: 30px;
    }

    .nav-links.open {
        transform: translateX(0);
    }

    .nav-links ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-links ul li {
        font-size: 18px;
        padding: 10px 0;
    }

    .button-wrapper {
        display: none;
    }

    .toggle-icon {
        display: block;
    }

    .Homenavbar-icon {
        display: none;
    }
}
