/* تنسيق القسم الرئيسي */
.about-section {
  position: relative;
  background-image: url("/image/smiling-young-businessman.jpg"); /* صورة الخلفية */
  background-size: cover;
  background-position: con;
  height: 80vh; /* يمكنك ضبط الطول حسب الرغبة */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;


  
}

/* تراكب شفاف */
.about-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 102, 0.6); /* تراكب أزرق شفاف */
  z-index: 1;
}

/* تنسيق النصوص داخل التراكب */
.overlay {
  position: relative;
  z-index: 2;
}

.overlay h2 {
  font-size: 48px;
  margin: 0;
}

.overlay p {
  font-size: 18px;
  margin-top: 10px;
}

.overlay p a {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
}

.overlay p a:hover {
  opacity: 1;
}
